<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.doctor.finder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/df_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/df_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAWFo8mvXzRIJY0LENJJ7IYuVe2x3kTK9w" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.SavedDoctorActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SearchActivity"
            android:parentActivityName=".ui.SavedDoctorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SavedDoctorActivity" />
        </activity>

        <activity
            android:name=".ui.SearchResultsActivity"
            android:parentActivityName=".ui.SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SearchActivity" />
        </activity>

        <activity
            android:name=".ui.ProfileActivity"
            android:parentActivityName=".ui.SearchResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SearchResultsActivity" />
        </activity>

        <activity
            android:name=".ui.MapActivity"
            android:parentActivityName=".ui.ProfileActivity"
            android:theme="@style/NoActionBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProfileActivity" />
        </activity>

        <receiver android:name=".ui.DoctorInfoWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/doctor_info_widget_info" />
        </receiver>
    </application>

</manifest>